<template>
    <div id="header">
        <img id="header" class="img-fluid mx-auto" src=" img/cabecera.png" alt="header">   
        <h3 class="title text-center">
            <b>Sistema de gestión de voluntarios y personal activo <br>de Protección Civil para emergencias y eventos del Distrito Capital</b>
        </h3>
    </div> 
</template>

<style>
    img.header {
        width: 20%;   
    }

    h3.title{
        margin: 0;
        color: white;
        transform: translate(3%, -140%);
        font-size: initial;
        font-family: arial;
    }
</style>
