<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <letterhead-component></letterhead-component>
            </div>
            <div class="col-sm-12 text-center">
                <img id="Caracas" src="img/caracas.jpg" class="img-fluid rounded mx-auto">
                <router-link id="LogIn" class="btn btn-primary text-light" to="/vue">INGRESAR</router-link>
                <img id="Pcdc" src="img/PCVE.png" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>


<style>
    img#Pcdc{    
        width: 25%;
        transform: translateY(-225%);
    }

    img#Caracas{
        transform: translateY(-40px);
    }

    button#LogIn{
        transform: translateY(-290px);
    }
</style>



